<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<title>帮助中心</title>
</head>
<body>
	<%- include('common/header') %>
	<div class="container-fluid">
		<div class="container">
			<h2 class="text-center">帮助中心</h2>
			<div class="container-fluid">
	      		<p><b><span>1、用户注册</span></b></p>
				<p style="text-indent:-18pt;">
					<span>1、</span> <span>点击网站</span><span><span>header</span></span><span>的“注册”按钮；</span> 
				</p>
				<p style="text-indent:0cm;"><br></p>
				<p style="text-indent:-18pt;">
					<span>2、</span> <span>进入注册页面（如下）后，</span> 
				</p>
				<p style="text-indent:-18pt;">
					<span><img alt="" src="http://img.iautocloud.com.cn/images/20160704/20160704093555_799.png" data-bd-imgshare-binded="1"></span> 
				</p>
				<p style="text-indent:0cm;">
					<b><span>首先</span></b><span>按要求填写：用户名、密码、手机号码、图形验证码，按要求完成手机动态验证码验证；</span> 
				</p>
				<p style="text-indent:0cm;">
					<b><span>然后</span></b><span>阅读并同意</span><u><span>《维修信息平台注册协议》</span></u><span>；</span> 
				</p>
				<p style="text-indent:0cm;">
					<b><span>最后</span></b><span>点击“立即注册”，如提交信息符合要求，则会得到注册成功的提示。</span> 
				</p>
				<p style="text-indent:0cm;"><br></p>
				<p style="text-indent:0cm;"><span>此时已注册成功，成为网站的会员。</span></p>
				<p style="text-indent:0cm;"><span><br></span></p>
				<p style="text-indent:0cm;"></p>
				<p><b><span>3、忘记密码怎么办？</span></b></p>
				<p>
					<span>当忘记密码，请按以下操作步骤进行密码找回：</span> 
				</p>
				<p style="text-indent:-21pt;">
					<span>1</span> <span>打开网站的登录页面；</span> 
				</p>
				<p style="text-indent:-21pt;">
					<span><img alt="" src="http://img.iautocloud.com.cn/images/20160704/20160704112733_46.png" data-bd-imgshare-binded="1"></span> 
				</p>
				<p style="text-indent:-21pt;">
					<span>2</span> <span>点击登录面板中的“</span><span>忘记密码？</span><span>”按钮，</span><span>进入找回密码流程：</span> 
				</p>
				<p style="text-indent:-21pt;">
					<span>1)</span> <span>第一步、“用户名验证”：</span> 
				</p>
				<p style="text-indent:-21pt;">
					<span>输入要找回密码的用户名并完成图片验证码验证，然后点击“提交”按钮；</span> 
				</p>
				<p style="text-indent:0cm;"><br></p>
				<p style="text-indent:-21pt;">
					<span>2)</span> 第二步、<span>如果用户名存在，则会进入到“手机验证”，</span><span>手机验证页面会不完全显示用户名及其已验证的手机号码，点击“获取短信验证码”按钮，该手机号码将收到验证短信，将短信中的验证码（</span><span><span>4</span></span><span>位数字）输入短信验证码输入框内，点击“提交”按钮；</span> 
				</p>
				<p style="text-indent:0cm;"><br></p>
				<p style="text-indent:-21pt;">
					<span>3)</span> 第三步、<span>手机短信验证成功后，进入找回密码“设置新密码”：</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>按要求设置好密码（</span><span><span>1</span></span><span>、密码符合要求；</span><span><span>2</span></span><span>、两次输入密码相同）后，点击“提交”按钮</span> 
				</p>
				<p style="text-indent:0cm;"><br></p>
				<p style="text-indent:-21pt;">
					<span>4)</span> <span>新密码设置成功后即默认成功登录。</span> 
				</p>
				<p style="text-indent:-21pt;"><span><br></span></p>
				<p style="text-indent:-21pt;"><span></span></p>
				<p style="text-indent:0cm;">
					<span><strong>4、购买技术资料权益</strong></span> 
				</p>
				<p style="text-indent:0cm;">
					<span>“购买权益”为网站的会员用户购买技术资料的查阅、打印资格的功能入口。</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>点击导航上的“技术资料”资料栏目，点击页面右侧悬浮栏的“购买”按钮，进入购买流程：</span> 
				</p>
				<p style="text-indent:-18pt;">
					<span><strong>首先</strong>，</span><span>将需要的会员权益加入购物车；</span> 
				</p>
				<p style="text-indent:-18pt;">
					<strong>然</strong><span><strong>后</strong>，</span><span>进入购物车，勾选本次所要购买的会员权益，查看总金额无误后点击“去结算”按钮，将进入订单填写页面；</span><span>只需按要求填写并确认订单信息；</span> 
				</p>
				<p style="text-indent:-21pt;">
					<span>是否1）开具发票，默认为“否”，也可以选择“是”</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>然后需选择：普通发票、电子发票、增值发票</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>最后填写发票抬头即可</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>注：选择要发票将默认增加</span><span><span>20</span></span><span>元邮寄费，该费用自动计入订单总额。</span> 
				</p>
				<p style="text-indent:0cm;">
					<span><span>2</span></span><span>）填写发票接收人信息：收件人姓名、邮寄地址、收件人电话。</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>完成以上信息填写，点击“提交订单”，则进入支付方式选择页面</span> 
				</p>
				<p style="text-indent:-18pt;">
					<span>4）</span> <strong>最后，</strong><span>支付方式选择，</span><span>平台提供微信支付和支付宝支付两种支付方式：</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>1）选择微信支付，点击“立即支付”按钮，则进入二维码扫码支付页面，显示如下，在手机端使用微信扫一扫支付即可：</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>2）选择支付宝支付，点击“立即支付”按钮，则进入二维码扫码支付页面，显示如下，在手机端打开支付宝，并扫码支付即可：</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>支付成功后，将看到支付成功提示页面，</span> 
				</p>
				<p style="text-indent:0cm;">
					<span>同时，用户将收到短信提醒，此时可以按所购买的会员权益对相应的技术资料进行浏览、打印。</span> 
				</p>
				<p style="text-indent:0cm;"><span><br></span></p>
	      </div>
		</div>
	</div>
	<%- include('common/footer') %>
</body>
</html>