<div class="container-fluid footer">
	<div class="container text-center">
		<ul class="list-unstyled list-inline links">
			<li><a href="">联系我们</a></li>
			<li>|</li>
			<li><a href="">关于我们</a></li>
			<li>|</li>
			<li><a href="">版权声明</a></li>
			<li>|</li>
			<li><a href="">注册协议</a></li>
			<li>|</li>
			<li><a href="/help">帮助中心</a></li>
		</ul>
		<ul class="list-unstyled list-inline">
			<li>©2015 iautocloud.com.cn All Rights Reserved.中车云商  </li>
			<li>京ICP备16010257 号-1</li>
			<li>增值电信业务经营许可证：京B2-20170341</li>
		</ul>
		<p><img src="/images/copyright.jpg" alt="" /></p>
	</div>
</div>