<div class="left-wrap">
	<h2 class="text-center">个人中心</h2>
	<ul class="list-unstyled">
		<li><a href="/personal/index">账号资料</a></li>
		<li><a href="/personal/mycart">我的购物车</a></li>
		<li><a href="/personal/myorder/0">我的订单</a></li>
		<li><a href="/personal/mymessage">我的消息</a></li>
		<li><a href="/personal/updateinfo">修改信息</a></li>
	</ul>
</div>